@model IEnumerable<comp229_assignment_2.Models.Dish>

@{
    ViewBag.Title = "Index";
}

<h1>BraChinazilian Restaurant</h1>
<p>Prepare to dream with the best food of the city... BraChinazilian Restaurant brings to you what is the best in Brazil and China.</p>

<h1>Our main dishes</h1>

<div class="row ">
    @foreach (var dish in Model) {
        <div class="dish col-md-6">
            Name: @dish.name
            Description: @dish.description
        </div>
    }
</div>

@section top {

    <div id="links" style="display:none;">
    </div>
    <!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
    <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
        <div class="slides"></div>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <ol class="indicator"></ol>
    </div>
}

@section styles {
    <link href="~/Content/blueimp-gallery.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/blueimp-gallery.js"></script>
    <script>
        $(function () {

            var carouselLinks = []
            var linksContainer = $('#links')
            var photos = ['/Assets/images/carrousel/1.jpg',
                            '/Assets/images/carrousel/2.jpg',
                            '/Assets/images/carrousel/3.jpg',
                            '/Assets/images/carrousel/4.jpg',
                            '/Assets/images/carrousel/5.jpg',
                            '/Assets/images/carrousel/6.jpg',
                            '/Assets/images/carrousel/7.jpg',
                            '/Assets/images/carrousel/8.jpg',
                            '/Assets/images/carrousel/9.jpg', ];
            // Add the demo images as links with thumbnails to the page:
            $.each(photos, function (index, photo) {
                $('<a/>')
                  .append($('<img>').prop('src', photo))
                  .prop('href', photo)
                  .prop('title', '')
                  .attr('data-gallery', '')
                  .appendTo(linksContainer);

                carouselLinks.push({
                    href: photo,
                    title: ''
                })
            });

            blueimp.Gallery(carouselLinks,
        {
            container: '#blueimp-gallery-carousel',
            carousel: true,
            hidePageScrollbars: true,
            fullScreen: true
        });
        });
    </script>
}